<app-panel-admin></app-panel-admin>

<section class="bg-gray-50 p-4 md:ml-64 h-auto pt-20 dark:bg-gray-900">
  <div class="container mx-auto p-4">
    <h1 class="text-2xl text-white font-bold mb-4">Dashboard</h1>

    <!-- Tarjetas -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4">
      <div class="bg-yellow-400 p-4 rounded-lg shadow-md">
        <h2 class="text-lg font-semibold mb-2">Ventas del Mes Actual</h2>
        <p class="text-3xl font-bold">{{ ventasMesActualv | currency:'BOB':'symbol':'1.2-2' }}</p>
      </div>
      <div class="bg-yellow-400 p-4 rounded-lg shadow-md">
        <h2 class="text-lg font-semibold mb-2">Pedidos Completados</h2>
        <p class="text-3xl font-bold">{{ pedidosCompletadosv | number:'1.0-2' }}%</p>
      </div>
      <div class="bg-green-400 p-4 rounded-lg shadow-md">
        <h2 class="text-lg font-semibold mb-2">Promedio de Gasto por Cliente</h2>
        <p class="text-3xl font-bold">{{ promedioGastoPorClientev | currency:'BOB':'symbol':'1.2-2' }}</p>
      </div>
    </div>

    <!-- Gráficos -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4">
      <!-- Total Ventas Chart -->
      <div class="bg-white p-4 rounded-lg shadow-md">
        <h2 class="text-lg font-semibold mb-2">Total de Ventas (Mensual)</h2>
        <div class="relative h-96">
          <canvas id="ventasTotalesPorMesChart"></canvas>
        </div>
      </div>

      <!-- Cantidad de Prendas por Tipo Chart -->
      <div class="bg-white p-4 rounded-lg shadow-md">
        <h2 class="text-lg font-semibold mb-2">Vestimentas más Pedidas</h2>
        <div class="relative h-96">
          <canvas id="cantidadPrendasPorTipoChart"></canvas>
        </div>
      </div>

      <!-- Pedidos por Cliente Chart -->
      <div class="bg-white p-4 rounded-lg shadow-md">
        <h2 class="text-lg font-semibold mb-2">Pedidos por Cliente</h2>
        <div class="relative h-96">
          <canvas id="pedidosPorClienteChart"></canvas>
        </div>
      </div>

      <!-- Cambios por Mes Chart -->
      <div class="bg-white p-4 rounded-lg shadow-md">
        <h2 class="text-lg font-semibold mb-2">Cambios por Mes</h2>
        <div class="relative h-96">
          <canvas id="cambiosPorMesChart"></canvas>
        </div>
      </div>

      <!-- Promedio de Edad por Género Chart -->
      <div class="bg-white p-4 rounded-lg shadow-md">
        <h2 class="text-lg font-semibold mb-2">Promedio de Edad por Género</h2>
        <div class="relative h-96">
          <canvas id="promedioPorGeneroChart"></canvas>
        </div>
      </div>

      <!-- Estados de Pedidos Chart -->
      <div class="bg-white p-4 rounded-lg shadow-md">
        <h2 class="text-lg font-semibold mb-2">Estados de Pedidos</h2>
        <div class="relative h-96">
          <canvas id="estadosPedidosChart"></canvas>
        </div>
      </div>

      <!-- Otros gráficos... -->
    </div>
  </div>
</section>